/**************************
    RESET
**************************/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/**************************
    FINE RESET
**************************/


/**************************
    COMMON 
**************************/
@font-face {
    font-family: 'Circular Spotify';
    src: url(../fonts/CircularSpotifyText-Medium.otf);
}

@font-face {
    font-family: 'Circular Spotify Bold';
    src: url(../fonts/CircularSpotifyText-Bold.otf);
}

body {
    font-family: 'Circular Spotify', sans-serif;
}

.flex {
    display: flex;
}

section {
    padding-bottom: 40px;
}

h2 {
    color: white;
    margin-bottom: 10px;
}

.section-subtitle {
    color: #787B82;
    font-weight: bold;
    font-size: 12px;
    margin-bottom: 30px;
}

.mobile-shown {
    display: none;
}

a {
    text-decoration: none;
    color: #787B82;
}

a:hover {
    color: #D2D2D2;
}

a:hover svg path {
    fill: white;
}
/**************************
    FINE COMMON
**************************/


/**************************
    SIDEBAR
**************************/

#sidebar {
    background-color: black;
    width: 230px;
    height: calc(100vh - 90px);
    padding: 20px 20px 0px;
    overflow: auto;
}

#sidebar svg {
    height: 30px;
}


svg path {
    fill: #787B82;
}

.mobile-hidden {
    flex-direction: column;
    height: 100%;
}

.logo {
    width: 130px;
    margin-bottom: 22px;
}

.sidebar-nav {
    color: #787B82;
    list-style-type: none;
    font-size: 14px;
    font-weight: bold;
    line-height: 2.2;
    margin-bottom: 20px;

    flex-direction: column;
    gap: 5px;
}

.sidebar-nav .fa-solid {
    font-size: 20px;
    margin-right: 6px;
}

.sidebar-nav a {
    gap: 10px;
}

.sidebar-nav a.active {
    color: white;
    position: relative;
}

.sidebar-nav a.active svg path {
    fill: white;
}
.yellow-line {
    background-color: #B4F458;
    width: 3px;
    height: 35px;

    position: absolute;
    left: -20px;
    top: 50%;
    transform: translateY(-50%);
}

.playlist {
    min-height: 130px;
    overflow: hidden;
}

.playlist-title {
    color: white;
    font-weight: bold;

}
.playlist-list {
    color: #787B82;
    list-style-type: none;
    font-size: 14px;
    font-weight: bold;
    line-height: 2.2;

    max-height: calc(100% - 66px);
    min-height: 60px;
    overflow: auto;
}

.playlist a:hover .create-playlist {
    color: #D2D2D2;

}
.create-playlist {
    color: #787B82;
    font-weight: bold;
    margin-bottom: 10px;
}

.create-playlist .fa-solid {
    font-size: 36px;
    margin-right: 10px;
    transform: translateY(25%);
}

.profile {
    color: #787B82;
    font-weight: bold;
    flex-grow: 1;

    flex-wrap: wrap;
    align-content: flex-end;
}

#sidebar .profile img {
    background-color: #7E7E7E;
    height: 26px;
    width: 26px;
    border-radius: 50%;
}
.install {
    margin-top: 10px;
}

.install .fa-regular {
    margin-right: 5px;
}
.gray-line {
    background-color: #787B82;
    width: 100%;
    height: 2px;
    margin: 10px 0;
}

.account {
    color: white;
    padding-bottom: 10px;
    align-items: center;
    gap: 10px;
}

.account .fa-solid {
    font-size: 20px;
    margin-right: 5px;
}
/**************************
    FINE SIDEBAR
**************************/


/**************************
    MAIN
**************************/

main {
    background-color: #151922;
    overflow-y: auto;
    width: calc(100vw - 230px);
    height: calc(100vh - 90px);
}

#main-content {
    padding:30px 20px;
}

/* top bar */
#top-bar {
    background-color: rgba(0, 0, 0, 0.40);
    padding: 20px 20px;
    justify-content: flex-end;
    position: fixed;
    width: calc(100% - 230px);
    z-index: 5;
}

#top-bar .button {
    display: inline-block;
    color: white;
    text-decoration: none;
    font-size: 9px;
    padding: 16px 40px;
    border: 1px solid white;
    border-radius: 27px;

    transition: .3s;
}

#top-bar .button:hover {
    transform: scale(1.1);
}
/* fine top bar */

/* nav */
nav {
    color: #787B82;
    font-weight: bold;
    font-size: 12px;
    padding-top: calc(84px + 20px);
    padding-left: 20px;
    padding-right: 20px;

    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.active {
    position: relative;
    color: #D2D2D2;
}

.underline {
    background-color: #B4F458;
    width: 30px;
    height: 2px;

    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translate(-50%);
}
/* fine nav */

/* sezione recently played */
.recently-played h2 {
    margin-bottom: 30px;
}

.cards {
    gap: 15px;
}

.card {
    max-width: 180px;

    width: calc((100vw - 230px - 40px - 8px) / 6 - 15px / 6 * 5);
    /* larghezza viewport - sidebar - padding main - scrollbar */

    position: relative;
}

.overlay {
    max-width: 180px;
    max-height: 180px;
    width: calc((100vw - 230px - 40px - 8px) / 6 - 15px / 6 * 5);
    height: calc((100vw - 230px - 40px - 8px) / 6 - 15px / 6 * 5);
    /* larghezza viewport - sidebar - padding main - scrollbar */

    justify-content: center;
    align-items: center;

    position: absolute;
    top: 0;

    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    
    transition: .3s ease-in-out;
    
}

.overlay .fa-circle-play {
    font-size: 60px;
    color: #D2D2D2;
    opacity: 0;
    transition: .3s ease-in-out;
}

.card:hover .overlay {
    visibility: visible;
    opacity: 1;
}

.card:hover .fa-circle-play {
    opacity: 1;
}

.popular-artist .overlay {
    border-radius: 50%;
}

.card img {
    width: 100%;
    margin-bottom: 12px;
    
}

.card-title {
    color: white;
    font-weight: bold;
    text-align: center;
    margin-bottom: 8px;
}

.card-subtitle {
    color: #787B82;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
}
/* fine sezione recently played */

/* sezione Artisti popolari */
.popular-artist {
    padding-bottom: 0px;
}
.popular-artist img {
    border-radius: 50%;
}
/* fine sezione Artisti popolari */


/**************************
    FINE MAIN
**************************/


/**************************
    NOW PLAYING BAR
**************************/

#now-playing {
    display: flex;
    justify-content: space-between;
    background-color: #282828;
    position: fixed;
    width: 100%;
    height: 90px;
    z-index: 10;
}

.now-playing-left {
    color: #787B82;
    font-weight: bold;
    align-items: center;
    gap: 10px;
    width: 100%;
    flex-grow: 1;

    padding: 0px 10px;
}

.now-playing-left img {
    width: 42px;
}

.now-playing-left .links {
    gap: 10px;
}

.now-playing-left .song {
    margin-right: 30px;
}

.song a:hover {
    text-decoration: underline;
}
.now-playing-left .song .title {
    color: white;
    font-size: 14px;
}

.now-playing-left .song .name {
    font-size: 12px;
}

.now-playing-left .like, 
.now-playing-left .folder {
    font-size: 20px;
}

.now-playing-middle {
    width: 100%;
    flex-grow: 2;
}
.now-playing-middle .upper {
    color: white;
    font-size: 20px;
    gap: 20px;
    justify-content: center;
    align-items: center;

    padding: 10px 0px; 
}

.now-playing-middle .upper .fa-circle-play {
    font-size: 30px;
    padding: 0px 10px;
    transition: .2s;
}

.now-playing-middle .upper i:hover {
    cursor: pointer;
}

.now-playing-middle .upper .fa-circle-play:hover {
    transform: scale(1.2);
}

.now-playing-middle .lower {
    color: white;
    font-size: 12px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
}

.bar {
    width: 100px;
    max-width: 430px;
    background-color: #5B5B5B;
    border-radius: 2px 2px 2px 2px;
    position: relative;
}

.now-playing-middle .bar {
    width: 100%;
    margin: 0px 20px;
}

.bar .left {
    height: 4px;
    border-radius: 2px 2px 2px 2px;
    width: 20%;
    background-color: #C1C1C1;
}

.bar .right {
    height: 4px;
    border-radius: 0px 2px 2px 0px;
    width: 80%;
    background-color: #5B5B5B;
}

.bar .cirlce {
    background-color: white;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    left: calc(20% - 5px);
    top: -3px;
    visibility: hidden;
}

.now-playing-right {
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    color: white;
    padding: 0px 10px;
    width: 100%;
    flex-grow: 1;
}

.now-playing-right i:hover {
    cursor: pointer;
}

.now-playing-right .bar {
    max-width: 110px;
    padding: 0;
}

.now-playing-right .bar .right,
.now-playing-right .bar .left {
    width: 50%;
}

.now-playing-right .bar .cirlce {
    left: calc(50% - 5px);
}

.bar:hover {
    cursor: pointer;
}

.bar:hover .cirlce {
    visibility: visible;
}

.bar:hover .left {
    background-color: lime;
}
/**************************
    FINE NOW PLAYING BAR
**************************/

/**************************
    CUSTOM SCROLLBAR
**************************/

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #585858; 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #949494; 
}

/**************************
    FINE CUSTOM SCROLLBAR
**************************/

/**************************
    MEDIA QUERY
**************************/

/* media query medium */
@media screen and (max-width: 992px) {

    .cards{
        flex-wrap: wrap;
    }

    .card {
        width: calc((100vw - 230px - 40px - 8px) / 4 - 15px / 4 * 3);
        /* larghezza viewport - sidebar - padding main - scrollbar */
    }

    .overlay {
        width: calc((100vw - 230px - 40px - 8px) / 4 - 15px / 4 * 3);
        height: calc((100vw - 230px - 40px - 8px) / 4 - 15px / 4 * 3);
    }
}
/* fine media query medium */


/* media query small */
@media screen and (max-width: 768px) {

    .card {
        max-width: 100%;
        width: calc((100vw - 230px - 40px - 8px) / 2 - 15px / 2);
        /* larghezza viewport - sidebar - padding main - scrollbar */
    }

    .overlay {
        max-width: 100%;
        max-height: 100%;
        width: calc((100vw - 230px - 40px - 8px) / 2 - 15px / 2);
        height: calc((100vw - 230px - 40px - 8px) / 2 - 15px / 2);

    }

    .now-playing-left img {
        width: 36px;
    }

    .now-playing-left .links {
        flex-direction: column;
        gap: 0px;
    }

    .now-playing-left .song {
        margin-right: 15px;
    }

    .bar {
        width: 80px;
    }
    
}
/* fine media query small */


/* media query x-small */
@media screen and (max-width: 576px) {

    /* main */
    main {
        width: calc(100vw - 50px);
    }
    
    #top-bar {
        width: calc(100vw - 50px);
    }

    .card {
        max-width: 100%;
        width: calc((100vw - 50px - 40px - 8px) / 2 - 15px / 2);
        /* larghezza viewport - sidebar - padding main - scrollbar */
    }

    .overlay {
        width: calc((100vw - 50px - 40px - 8px) / 2 - 15px / 2);
        height: calc((100vw - 50px - 40px - 8px) / 2 - 15px / 2);
    }
    /* fine main */

    /* sidebar */
    #sidebar {
        width: 50px;
        padding: 10px 10px;
        overflow: hidden;
    }

    .sidebar-nav {
        display: flex;
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }

    .mobile-hidden {
        display: none;
    }

    .mobile-shown {
        display: flex;
        flex-direction: column;
        height: 100%;
        overflow: auto;
    }

    .mobile-shown::-webkit-scrollbar {
        width: 0px;
    }

    .mobile-shown .mobile {
        margin: 0;
        font-size: 30px;
    }

    .mobile-shown a {
        line-height: 0;
    }

    .logo {
        width: 100%;
        margin-bottom: 10px;
    }

    .profile {
        justify-content: center;
        gap: 10px;
    }
    /* fine sidebar */

    /* now-playing */
    .now-playing-left img {
        width: 30px;
    }

    .now-playing-left .song {
        margin-right: 5px;
    }

    .now-playing-left i,
    .now-playing-right i {
        font-size: 15px;
    }

    .bar {
        width: 60px;
    }

    .now-playing-middle .upper {
        gap: 10px;
        font-size: 15px;
    }
    /* fine now playing */

}
/* fine media query x-small */

/**************************
    FINE MEDIA QUERY
**************************/

