/**************************
    RESET
**************************/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/**************************
    FINE RESET
**************************/


/**************************
    COMMON 
**************************/

body {
    font-family: sans-serif;
}

.flex {
    display: flex;
}

/**************************
    FINE COMMON
**************************/


/**************************
    SIDEBAR
**************************/

#sidebar {
    background-color: black;
    width: 230px;
    height: calc(100vh - 90px);
}

/**************************
    FINE SIDEBAR
**************************/


/**************************
    MAIN
**************************/

main {
    background-color: #151922;
    overflow: auto;
    width: calc(100vw - 230px);
    height: calc(100vh - 90px);
}

#main-content {
    padding: 84px 20px 20px;
}

/* top bar */
#top-bar {
    background-color: rgba(0, 0, 0, 0.40);
    padding: 20px 20px;
    justify-content: flex-end;
    position: fixed;
    width: calc(100% - 230px);
}

#top-bar .button {
    display: inline-block;
    color: white;
    text-decoration: none;
    font-size: 9px;
    font-weight: bold;
    padding: 16px 40px;
    border: 1px solid white;
    border-radius: 27px;
}
/* fine top bar */

/* sezione recently played */

.recently-played {
    gap: 15px;
}
.card {
    max-width: 180px;
}

.card img {
    width: 100%;
    margin-bottom: 12px;
    
}

.card-title {
    color: white;
    font-weight: bold;
    text-align: center;
    margin-bottom: 8px;
}

.card-subtitle {
    color: #787B82;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
}
/* fine sezione recently played */

/**************************
    FINE MAIN
**************************/


/**************************
    NOW PLAYING BAR
**************************/

#now-playing {
    background-color: #282828;
    position: fixed;
    width: 100%;
    height: 90px;
}

/**************************
    FINE NOW PLAYING BAR
**************************/