/**************************
    RESET
**************************/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/**************************
    FINE RESET
**************************/


/**************************
    COMMON 
**************************/

body {
    font-family: sans-serif;
}

.flex {
    display: flex;
}

section {
    padding-bottom: 40px;
}

h2 {
    color: white;
    margin-bottom: 10px;
}

.section-subtitle {
    color: #787B82;
    font-weight: bold;
    font-size: 12px;
    margin-bottom: 30px;
}

.mobile-shown {
    display: none;
}
/**************************
    FINE COMMON
**************************/


/**************************
    SIDEBAR
**************************/

#sidebar {
    background-color: black;
    width: 230px;
    height: calc(100vh - 90px);
    padding: 20px 20px 0px;
    overflow: auto;
}

.mobile-hidden {
    flex-direction: column;
    height: 100%;
}

.logo {
    width: 130px;
    margin-bottom: 22px;
}

.sidebar-nav {
    color: #787B82;
    list-style-type: none;
    font-size: 14px;
    font-weight: bold;
    line-height: 2.2;
    margin-bottom: 20px;
}

.sidebar-nav .fa-solid {
    font-size: 20px;
    margin-right: 6px;
}

.sidebar-nav .active {
    color: white;
    position: relative;
}

.yellow-line {
    background-color: #B4F458;
    width: 3px;
    height: 35px;

    position: absolute;
    left: -20px;
    top: 50%;
    transform: translateY(-50%);
}

.playlist {
    padding-bottom: 20PX;
}
.playlist-title {
    color: white;
    font-weight: bold;

}
.playlist-list {
    color: #787B82;
    list-style-type: none;
    font-size: 14px;
    font-weight: bold;
    line-height: 2.2;
}

.create-playlist {
    color: #787B82;
    font-weight: bold;
    margin-bottom: 10px;
}

.create-playlist .fa-solid {
    font-size: 36px;
    margin-right: 10px;
    transform: translateY(25%);
}

.profile {
    color: #787B82;
    font-weight: bold;
    flex-grow: 1;

    flex-wrap: wrap;
    align-content: flex-end;
}

.install .fa-regular {
    margin-right: 5px;
}
.gray-line {
    background-color: #787B82;
    width: 100%;
    height: 2px;
    margin: 10px 0;
}

.account {
    color: white;
    padding-bottom: 10px;
}

.account .fa-solid {
    font-size: 20px;
    margin-right: 5px;
}
/**************************
    FINE SIDEBAR
**************************/


/**************************
    MAIN
**************************/

main {
    background-color: #151922;
    overflow: auto;
    width: calc(100vw - 230px);
    height: calc(100vh - 90px);
}

#main-content {
    padding:30px 20px;
}

/* top bar */
#top-bar {
    background-color: rgba(0, 0, 0, 0.40);
    padding: 20px 20px;
    justify-content: flex-end;
    position: fixed;
    width: calc(100% - 230px);
}

#top-bar .button {
    display: inline-block;
    color: white;
    text-decoration: none;
    font-size: 9px;
    font-weight: bold;
    padding: 16px 40px;
    border: 1px solid white;
    border-radius: 27px;
}
/* fine top bar */

/* nav */
nav {
    color: #787B82;
    font-weight: bold;
    font-size: 12px;
    padding-top: calc(84px + 20px);
    padding-left: 20px;
    padding-right: 20px;

    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.active {
    position: relative;
}

.underline {
    background-color: #B4F458;
    width: 30px;
    height: 2px;

    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translate(-50%);
}
/* fine nav */

/* sezione recently played */
.recently-played h2 {
    margin-bottom: 30px;
}
.cards {
    gap: 15px;
}
.card {
    max-width: 180px;

    width: calc((100vw - 230px - 40px - 8px) / 6 - 15px / 6 * 5);
    /* larghezza viewport - sidebar - padding main - scrollbar */
}

.card img {
    width: 100%;
    margin-bottom: 12px;
    
}

.card-title {
    color: white;
    font-weight: bold;
    text-align: center;
    margin-bottom: 8px;
}

.card-subtitle {
    color: #787B82;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
}
/* fine sezione recently played */

/* sezione Artisti popolari */
.popular-artist {
    padding-bottom: 0px;
}
.popular-artist img {
    border-radius: 50%;
}
/* fine sezione Artisti popolari */


/**************************
    FINE MAIN
**************************/


/**************************
    NOW PLAYING BAR
**************************/

#now-playing {
    display: flex;
    background-color: #282828;
    position: fixed;
    width: 100%;
    height: 90px;
}

.now-playing-left {
    color: #787B82;
    font-weight: bold;
    align-items: center;
    gap: 10px;
    max-width: 25%;
    flex-grow: 1;

    padding: 0px 10px;
}

.now-playing-left img {
    width: 42px;
}

.now-playing-left .song {
    margin-right: 40px;
}

.now-playing-left .song .title {
    color: white;
    font-size: 20px;
}

.now-playing-left .like, 
.now-playing-left .folder {
    font-size: 20px;
}

.now-playing-middle {
    flex-grow: 1;
}
.now-playing-middle .upper {
    color: white;
    font-size: 20px;
    gap: 20px;
    justify-content: center;
    align-items: center;

    padding: 10px 0px; 
}

.now-playing-middle .upper .fa-circle-play {
    font-size: 30px;
    padding: 0px 10px;
}

.now-playing-middle .lower {
    color: white;
    font-size: 12px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
}

.bar {
    padding: 0px 20px;
    width: 100%;
    max-width: 430px;
}

.bar .left {
    height: 4px;
    width: 20%;
    background-color: #C1C1C1;
}

.bar .right {
    height: 4px;
    width: 80%;
    background-color: #5B5B5B;
}

.now-playing-right {
    justify-content: flex-end;
    align-items: center;
    max-width: 25%;
    flex-grow: 1;
    gap: 10px;
    color: white;
    padding-right: 10px;
}

.now-playing-right .bar {
    max-width: 110px;
    padding: 0;
}
/**************************
    FINE NOW PLAYING BAR
**************************/


/**************************
    MEDIA QUERY
**************************/

/* media query medium */
@media screen and (max-width: 992px) {

    .cards{
        flex-wrap: wrap;
    }

    .card {
        width: calc((100vw - 230px - 40px - 8px) / 4 - 15px / 4 * 3);
        /* larghezza viewport - sidebar - padding main - scrollbar */
    }

}
/* fine media query medium */


/* media query small */
@media screen and (max-width: 768px) {

    .card {
        max-width: 100%;
        width: calc((100vw - 230px - 40px - 8px) / 2 - 15px / 2);
        /* larghezza viewport - sidebar - padding main - scrollbar */
    }
}
/* fine media query small */


/* media query x-small */
@media screen and (max-width: 576px) {

    /* main */
    main {
        width: calc(100vw - 50px);
    }
    
    #top-bar {
        width: calc(100vw - 50px);
    }

    .card {
        max-width: 100%;
        width: calc((100vw - 50px - 40px - 8px) / 2 - 15px / 2);
        /* larghezza viewport - sidebar - padding main - scrollbar */
    }
    /* fine main */

    /* sidebar */
    #sidebar {
        width: 50px;
        padding: 10px 10px;
        overflow: hidden;
    }

    .sidebar-nav {
        display: flex;
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }

    .mobile-hidden {
        display: none;
    }

    .mobile-shown {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .mobile-shown .mobile {
        margin: 0;
        font-size: 30px;
    }

    .fa-house.mobile {
        font-size: 26.66px;
    }
    
    .fa-circle-down {
        margin-bottom: 20px;
    }

    .logo {
        width: 100%;
        margin-bottom: 10px;
    }

    .profile {
        justify-content: center;
    }

    .fa-circle-user {
        color: white;
    }
    /* fine sidebar */

}
/* fine media query x-small */

/**************************
    FINE MEDIA QUERY
**************************/


/**************************
    CUSTOM SCROLLBAR
**************************/

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #585858; 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #949494; 
}

/**************************
    FINE CUSTOM SCROLLBAR
**************************/
